﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}
<div class="pull-right">
    <div class="sidebox">
        <form>
        <!-- Yes, I know this isn't going to be correct -->
        <h3 id="votecount">@Model.Votes.Count</h3>
        votes<br />
        <br />
        <input type="button" value="vote" onclick="vote()" />
        </form>
    </div>
    <div class="sidebox">
        <div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Idea: @Model.Title - @Model.Description" data-hashtags="ideastrike">Tweet this idea!</a>
        </div>
        <div id="fb-root"></div><div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
    </div>
</div>

<h1>@Model.Title</h1>
    @Model.Description

<hr />
@if (Model.Features != null)
{ 
    <h4>
        Features</h4>
    <ul id="features">
        @foreach (var a in Model.Features)
        {
            <li>
                @a.Text<br />
                <sub>@a.Time</sub> </li>
        }
    </ul>
}
else
{
    <h4>
        No feature requests yet, add the first one!</h4>
}
<form action="/idea/@Model.Id/feature" method="POST">
<div>
    <label for="feaure">
        feature request</label>
    <input type="text" id="feature" name="feature"></input><br />
    <br />
    <label for="submit">
    </label>
    <input type="submit" />
</div>
</form>
<hr />
@if (Model.Activities != null)
{ 
    <h4>
        Activity</h4>
    <ul id="comments">
        @foreach (var a in Model.Activities)
        {
            <li>
                @a.Text<br />
                <sub>@a.Time</sub> </li>
        }
    </ul>
}
else
{
    <h4>
        No activity yet, add the first comment!</h4>
}
<form action="/idea/@Model.Id/comment" method="POST">
<div>
    <label for="comment">
        comment</label>
    <textarea id="comment" name="comment"></textarea><br />
    <br />
    <label for="submit">
    </label>
    <input type="submit" />
</div>
</form>
@section PageScript {
    <script>
        function vote() {
            $.ajax({
                url: "/idea/@Model.Id/vote/9",
                context: document.body,
                success: function (data) {
                    /* This is really nasty, surely there is a better way? */
                    $("#votecount").replaceWith("<h3 id='votecount'>" + data.NewVotes + "</h3>");
                }
            });
        }

        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs");

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>
}
