@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}
@{ var idea = Model.Idea; }
<div class="pull-right">
    <div class="sidebox">
        <form>
        <!-- Yes, I know this isn't going to be correct -->
        <h3 id="votecount">@idea.Votes.Count</h3>
        votes<br />
        <br />
        <input type="button" value="vote" data-has-voted="@Model.UserHasVoted" onclick="vote()" />
        </form>
    </div>
    <div class="sidebox">
        <div>
            <a href="https://twitter.com/share" 
               class="twitter-share-button" 
               data-text="Idea: @idea.Title - @idea.Description" 
               data-hashtags="ideastrike">Tweet this idea!</a>
        </div>
        <div id="fb-root">
        </div>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="450"
            data-show-faces="true">
        </div>
    </div>
</div>
<h1>@idea.Title</h1>
@idea.Description
<hr />
@if (idea.Features.Count > 0)
{ 
    <div class="features">
        <h3>
            Features</h3>
        <ul>
            @foreach (var a in idea.Features)
            {
                <li>
                    <div class="row">
                        <div class="span8 text">@a.Text</div>
                    </div>
                    <div class="row">
                        <div class="span1 gravatar">
                            <img src="@Model.TestHash" /></div>
                        <div class="span8 author">
                            shiftkey</div>
                        <sub class="span8 time">@a.Time</sub>
                        <div class="comment">
                            <!-- TODO: comment on a feature -->
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <h3>
        No features suggested yet, be the first!</h3>
}
<div class="expander" data-element="#add-feature">
    <h4>
        Got something to add?</h4>
</div>
<div id="add-feature" class="hide-on-start add-feature">
    <form action="/idea/@idea.Id/feature" method="POST">
    <div class="options">
        <button type="button" disabled="disabled" id="edit-new-feature" class="btn edit"
            data-other="#preview-new-feature" data-editor="#new-feature" data-view="#new-feature-view">
            Edit</button>
        <button type="button" id="preview-new-feature" class="btn preview" data-other="#edit-new-feature"
            data-editor="#new-feature" data-view="#new-feature-view">
            Preview</button>
    </div>
    <!-- TODO: i want this text to change dynamically 
            text to rotate through:
            - how about ...
            - it would be cool if ...
            - can it also do ...
            - etc
            -->
    <label for="feature" id="label-text">
        how about ...</label>
    <!--  TODO: can we hook in some anti-forgery bits? -->
    <textarea id="new-feature" name="feature"></textarea><br />
    <div id="new-feature-view">
    </div>
    <br />
    <br />
    <br />
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <label for="submit">
    </label>
    <input type="submit" />
    </form>
</div>
<hr />
@if (idea.Activities.Count > 0)
{ 
    <div class="comments">
        <h4>
            Comments</h4>
        <ul>
            @foreach (var a in idea.Activities)
            {
                <li>
                    <div class="row">
                        <div class="span8 text">@a.Text</div>
                    </div>
                    <div class="row">
                        <div class="span1 gravatar">
                            <img src="@Model.TestHash" /></div>
                        <div class="span8 author">
                            shiftkey</div>
                        <sub class="span8 time">@a.Time</sub>
                    </div>
                    <div class="comment">
                        <!-- TODO: reply to a comment -->
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="comment">
        <!-- TODO: new comment -->
    </div>

}
else
{
    <h4>
        No activity yet, add the first comment!</h4>
}
<div class="expander" data-element="#add-comment">
    <h4>Leave a comment</h4>
</div>
<div id="add-comment" class="hide-on-start add-comment">
    <form action="/comment/@idea.Id/add" method="POST">
    <div class="options">
        <button type="button" disabled="disabled" id="edit-new-comment" class="btn edit"
            data-other="#preview-new-comment" data-editor="#new-comment" data-view="#new-comment-view">
            Edit</button>
        <button type="button" id="preview-new-comment" class="btn preview" data-other="#edit-new-comment"
            data-editor="#new-comment" data-view="#new-comment-view">
            Preview</button>
    </div>
    <label for="comment">
        leave a comment</label>
    <textarea id="new-comment" name="comment"></textarea><br />
    <div id="new-comment-view">
    </div>
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <br />
    <label for="submit">
    </label>
    <input type="submit" />
    </form>
</div>
@section PageScript {
    <script>
        function vote() {
            $.ajax({
                url: "/idea/@idea.Id/vote/9",
                context: document.body,
                success: function (data) {
                    $("#votecount").text(data.NewVotes);
                }
            });
        }

        $(document).ready(function () {
            $(".preview").click(previewText);
            $(".edit").click(editText);
            $(".hide-on-start").hide();
            $(".expander").click(toggleExpander)
                          .css("cursor", "pointer");
        });

        function toggleExpander() {
            var elem = $(this);
            var other = $(elem.data("element"));

            if (other.is(":visible")) {
                other.hide();
            } else {
                other.show();
            }
        }

        function previewText() {
            var elem = $(this);
            var other = $(elem.data("other"));
            var editor = $(elem.data("editor"));
            var view = $(elem.data("view"));

            var converter = new Showdown.converter();
            var formatted = converter.makeHtml(editor.val());
            view.html(formatted);
            editor.hide();
            view.show();
            elem.attr("disabled", "disabled");
            other.removeAttr("disabled");
        }

        function editText() {
            var elem = $(this);
            var other = $(elem.data("other"));
            var editor = $(elem.data("editor"));
            var view = $(elem.data("view"));
            // clear markdown
            view.html('');
            editor.show();
            view.hide();
            elem.attr("disabled", "disabled");
            other.removeAttr("disabled");
        }
    </script>
    <script src="/Resources/social.js"></script>
    <script src="/Resources/showdown.js"></script>
}
