@using Nancy
﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}

@section HeadContent
{
    <link href="@Url.Content("~/Resources/jquery.fancybox.css")" rel="stylesheet" />

}

<div class="pull-right votebox">
    <form>
    <!-- Yes, I know this isn't going to be correct -->
    <h3 id="votecount">@Model.Votes.Count</h3>
    votes<br />
    <br />
    <input type="button" value="vote" onclick="vote()" />
    </form>
</div>
<h1>@Model.Title</h1>
@Model.Description
<hr />

@if (Model.Images != null)
{
    <div>
        <h4>Images</h4>
        <p>
            @foreach(var image in Model.Images)
            {
                <a class="fancybox" href='image/@(image.Id).jpg' rel="imagegroup"><img src="/idea/imagethumb/@image.Id/100" /></a>
            }
        </p>
    </div>
    <div style="clear: both;"></div>
}

@if (Model.Features != null)
{ 
    <h4>Features</h4>
    <ul id="features">
        @foreach (var a in Model.Features)
        {
            <li>
                @a.Text<br />
                <sub>@a.Time</sub>
            </li>
        }
    </ul>
}
else
{
    <h4>No feature requests yet, add the first one!</h4>
}

<form action="/idea/@Model.Id/feature" method="POST">
<div>
    <label for="feaure">feature request</label>
    <input type="text" id="feature" name="feature" ></input><br /><br />
    <label for="submit"></label>
    <input type="submit" />
</div>
</form>

<hr />
@if (Model.Activities != null)
{ 
    <h4>
        Activity</h4>
    <ul id="comments">
        @foreach (var a in Model.Activities)
        {
            <li>
                @a.Text<br />
                <sub>@a.Time</sub> </li>
        }
    </ul>
}
else
{
    <h4>
        No activity yet, add the first comment!</h4>
}
<form action="/idea/@Model.Id/comment" method="POST">
<div>
    <label for="comment">
        comment</label>
    <textarea id="comment" name="comment"></textarea><br />
    <br />
    <label for="submit">
    </label>
    <input type="submit" />
</div>
</form>
@section PageScript {
    <script>
        function vote() {
            $.ajax({
                url: "/idea/@Model.Id/vote/9",
                context: document.body,
                success: function (data) {
                    /* This is really nasty, surely there is a better way? */
                    $("#votecount").replaceWith("<h3 id='votecount'>" + data.NewVotes + "</h3>");
                }
            });
        }
    </script>
    
            <script src="@Url.Content("~/Resources/jquery.fancybox.pack.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox();
        })
    </script>

}
