@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}
@{ var idea = Model.Idea; }
<div class="pull-right">
    <div class="sidebox">
        <form>
        <!-- Yes, I know this isn't going to be correct -->
        <h3 id="votecount">@idea.Votes.Count</h3>
        votes<br />
        <br />
        <input type="button" value="vote" data-has-voted="@Model.UserHasVoted" onclick="vote()" />
        </form>
    </div>
    <div class="sidebox">
        <div>
            <a href="https://twitter.com/share" 
               class="twitter-share-button" 
               data-text="Idea: @idea.Title - @idea.Description" 
               data-hashtags="ideastrike">Tweet this idea!</a>
        </div>
        <div id="fb-root">
        </div>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="450"
            data-show-faces="true">
        </div>
    </div>
</div>
<h1>@idea.Title</h1>
@idea.Description
<hr />
@if (idea.Features.Count > 0)
{ 
    <h4>
        Features</h4>
    <ul id="features">
        @foreach (var a in idea.Features)
        {
            <!-- TODO: style these elements -->
            <div class="gravatar">
                <img src="@Model.TestHash" /></div>
            <div class="feature-text">@a.Text</div>
            <div class="feature-author">
                shiftkey</div>
            <sub>@a.Time</sub>
            <div class="comment">
                <!-- TODO: comment on a feature -->
            </div>
        }
    </ul>
}
else
{
    <h4>
        No feature requests yet, add the first one!</h4>
}
<form action="/idea/@idea.Id/feature" method="POST">
<div>
    <label for="feature">
        feature request</label>
    <!--  TODO: can we hook in some anti-forgery bits? -->
    <input type="text" id="feature" name="feature" /><br />
    <br />
    <br />
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <label for="submit">
    </label>
    <input type="submit" />
</div>
</form>
<hr />
@if (idea.Activities.Count > 0)
{ 
    <h4>
        Activity</h4>
    <ul id="comments">
        @foreach (var a in idea.Activities)
        {
            <!-- TODO: style these elements -->
            <div class="gravatar">
                <img src="@Model.TestHash" /></div>
            <div class="feature-text">@a.Text</div>
            <div class="feature-author">
                shiftkey</div>
            <sub>@a.Time</sub>
            <div class="comment">
                <!-- TODO: reply to a comment -->
            </div>
        }
    </ul>
    <div class="comment">
        <!-- TODO: new comment -->
    </div>
}
else
{
    <h4>
        No activity yet, add the first comment!</h4>
}
<form action="/comment/@idea.Id/add" method="POST">
<div>
    <label for="comment">
        leave a comment</label>
    <textarea id="comment" name="comment"></textarea><br />
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <br />
    <label for="submit">
    </label>
    <input type="submit" />
</div>
</form>
@section PageScript {
    <script>
        function vote() {
            $.ajax({
                url: "/idea/@idea.Id/vote/9",
                context: document.body,
                success: function (data) {
                    /* This is really nasty, surely there is a better way? */
                    $("#votecount").text(data.NewVotes);
                }
            });
        }
    </script>
    <script src="/Resources/social.js"></script>
}
