@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}
<div class="row">
    <div class="span10">
        <h2>
            Submit a New Idea</h2>
        <br />
        <form action="/idea/new" method="POST">
        <div class="clearfix">
            <label for="Title">
                Title</label>
            <div class="input">
                <input id="Title" name="Title" type="text" />
            </div>
        </div>
        <div class="clearfix">
            <label for="Description">
                Description</label>
            <div class="input">
                <div class="options">
                    <button type="button" disabled="disabled" id="edit-new-idea" class="btn edit" data-other="#preview-new-idea"
                        data-editor="#new-idea" data-view="#new-idea-view">
                        Edit</button>
                    <button type="button" id="preview-new-idea" class="btn preview" data-other="#edit-new-idea"
                        data-editor="#new-idea" data-view="#new-idea-view">
                        Preview</button>
                </div>
                <textarea id="new-idea" name="Description" rows="10"></textarea>
                <div id="new-idea-view">
                </div>
            </div>
        </div>
        <div class="clearfix">
            <label for="Images">
                Images</label>
            <div class="input">
                <div class="container">
                    <br>
                    <div id="fileupload" enctype="multipart/form-data">
                        <div class="row">
                            <div class="span11 fileupload-buttonbar">
                                <div class="progressbar fileupload-progressbar fade">
                                    <div style="width: 0%;">
                                    </div>
                                </div>
                                <span class="btn success fileinput-button"><span>Add image</span>
                                    <input type="file" name="files[]" multiple="multiple" />
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="row span1" style="position: relative; z-index: 1100;">
                            <div class="span11">
                                <table class="zebra-striped">
                                    <tbody class="files">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gallery-loader">
            </div>
            <div id="gallery-modal" class="modal hide fade">
                <div class="modal-header">
                    <a href="#" class="close">&times;</a>
                    <h3 class="title">
                    </h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <a class="btn primary next">Next</a> <a class="btn info prev">Previous</a> <a class="btn success download"
                        target="_blank">Download</a>
                </div>
            </div>
        </div>
        <div class="actions">
            <button type="submit" class="btn primary">
                Submit</button>
        </div>
        </form>
    </div>
    <div class="span4">
        <h3>Popular Ideas</h3>
        <ul>
            @foreach (var i in Model.Ideas)
            {
                <li><a href="/idea/@i.Id">@i.Title</a><br />
                    @i.Time
                </li> 
            }
        </ul>
    </div>
</div>
@section PageScript {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".preview").click(previewText);
            $(".edit").click(editText);
        });

        var fileUploadErrors = {
            maxFileSize: 'File is too big',
            minFileSize: 'File is too small',
            acceptFileTypes: 'Filetype not allowed',
            maxNumberOfFiles: 'Max number of files exceeded',
            uploadedBytes: 'Uploaded bytes exceed file size',
            emptyResult: 'Empty file upload result'
        };
    </script>
    <script id="template-upload" type="text/html">
{% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name">{%=file.name%}</td>
        <td class="size">{%=o.formatFileSize(file.size)%}</td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td class="progress"><div class="progressbar"><div style="width:0%;"></div></div></td>
            <td class="start">{% if (!o.options.autoUpload) { %}<button class="btn primary">Start</button>{% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}<button class="btn info">Cancel</button>{% } %}</td>
    </tr>
{% } %}
    </script>
    <script id="template-download" type="text/html">
{% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name">{%=file.name%}</td>
            <td class="size">{%=o.formatFileSize(file.size)%}</td>
            <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
            </td>
            <td class="size">{%=o.formatFileSize(file.size)%}</td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">Delete</button>
            <input type="hidden" name="imageId{%=file.imageId%}" value="{%=file.imageId%}"/>
        </td>
    </tr>
{% } %}
    </script>
    <script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
    <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.min.js"></script>
    <script src="http://blueimp.github.com/Bootstrap-Image-Gallery/bootstrap-image-gallery.min.js"></script>
    <script src="@Url.Content("~/Resources/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("~/Resources/jquery.fileupload.js")"></script>
    <script src="@Url.Content("~/Resources/jquery.fileupload-ui.js")"></script>
    <script type="text/javascript">
        $('#fileupload').fileupload({
            url: '/idea/uploadimage',
            maxFileSize: 5000000,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxNumberOfFiles: 5
        });
    </script>
    <script src="@Url.Content("~/Resources/application.js")"></script>
}
