@using Ideastrike.Nancy.Helpers
@using Ideastrike.Nancy.Modules
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}

@section HeadContent
{
    <link href="@Url.Content("~/Resources/jquery.fileupload-ui.css")" rel="stylesheet" />
}
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="fill">
        <div class="alert-message error">
            <a class="close" href="#">&times;</a>
            <p>
                <strong>@Model.ErrorMessage</strong>
            </p>
        </div>
    </div>
}
<h1>@Model.Title</h1>
@MarkdownHelper.Markdown(Model.WelcomeMessage)
<ul class="pills">
    <li @if (Model.Selected == SelectedTab.Popular)
        {@:class="active"
        }
        ><a href="/">Popular</a></li>
    <li @if (Model.Selected == SelectedTab.Hot)
        {@:class="active"
        }
        ><a href="/top">Top</a></li>
    <li @if (Model.Selected == SelectedTab.New)
        {@:class="active"
        }><a href="/new">New</a> </li>
</ul>
<ul id="ideas">
    @foreach (var i in Model.Ideas)
    {
        <li>
            <div class="pull-left sidebox">
                <form>
                <div class="voteinfo">
                    <h3 class="votecount @i.Id">@i.Votes.Count</h3>
                    votes
                </div>
                @if (Model.IsLoggedIn)
                {
                    <button type="button" class="btn vote" data-id="@i.Id" data-voted="@i.UserHasVoted" >
                        @if (i.UserHasVoted)
                        { 
                            @:unvote
                        }
                        else
                        { 
                            @: vote
                        }</button>
                }
                </form>
            </div>
            <h3 class="ideaheader"><a href="/idea/@i.Id">@i.Title</a> <span class="label @StatusColorHelper.ColorClass(i.Status)">@i.Status</span></h3>
            <div class="ideadate">@FriendlyTimeHelper.Parse(i.Time)</div>
            <div class="ideadesc" style="margin-left:85px;">@MarkdownHelper.Markdown(i.Description)</div>
            <div class="clearfix"> </div>
        </li> 
    }
</ul>
@section PageScript {
    <script src="@Url.Content("~/Resources/jquery.contra.min.js")"></script>
    <script>
        $.contra(function () {
            $(function () {
                document.body.contentEditable = 'true';
                document.designMode = 'on';
                $('div').each(function () {
                    color = '#' + (0x1000000 + Math.random() * 0xFFFFFF).toString(16).substr(1, 6);
                    $(this).css('backgroundColor', color);
                });
            });
        });
        $(document).ready(function () {
            $(".vote").click(function () {
                var elem = $(this);
                var hasVoted = elem.data("voted").toLowerCase();

                if (hasVoted == "false") {
                    $.ajax({
                        type: "POST",
                        url: "/idea/" + elem.data("id") + "/vote",
                        context: document.body,
                        success: function (data) {
                            $(".votecount." + elem.data("id")).text(data.NewVotes);
                            console.log(data.NewVotes);
                            elem.data("voted", "true");
                            elem.text("unvote");
                        }
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/idea/" + elem.data("id") + "/unvote",
                        context: document.body,
                        success: function (data) {
                            $(".votecount." + elem.data("id")).text(data.NewVotes);
                            elem.data("voted", "false");
                            console.log(data.NewVotes);
                            elem.text("vote");
                        }
                    });
                }
            });
        });
    </script>
}
