﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}

<ul class="pills">
    <li class="active"><a href="/admin/">@Ideastrike.Nancy.Localization.Strings.Admin_Home</a></li>
    <li><a href="/admin/settings">@Ideastrike.Nancy.Localization.Strings.Admin_Settings</a></li>
    <li><a href="/admin/users">@Ideastrike.Nancy.Localization.Strings.Admin_Users</a></li>
    <li><a href="/admin/moderation">@Ideastrike.Nancy.Localization.Strings.Admin_Moderation</a></li>
</ul>

<a href="/admin/uservoice">@Ideastrike.Nancy.Localization.Strings.Admin_UservoiceImport</a>