﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}

<ul class="pills">
    <li><a href="/admin/">@Ideastrike.Nancy.Localization.Strings.Admin_Home</a></li>
    <li><a href="/admin/settings">@Ideastrike.Nancy.Localization.Strings.Admin_Settings</a></li>
    <li><a href="/admin/users">@Ideastrike.Nancy.Localization.Strings.Admin_Users</a></li>
    <li class="active"><a href="/admin/moderation">@Ideastrike.Nancy.Localization.Strings.Admin_Moderation</a></li>

</ul>

<h2>New Ideas</h2>

<table>
@foreach (var idea in @Model.Ideas) {
    <tr>
        <td>
            <a href="/idea/@idea.Id/edit">@idea.Title</a>

        </td>
        <td>
            Created @Ideastrike.Nancy.Helpers.FriendlyTimeHelper.Parse(idea.Time)
        </td>
    </tr>
}
</table>