﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}

<ul class="pills">
    <li><a href="/admin/">@Ideastrike.Nancy.Localization.Strings.Admin_Home</a></li>
    <li><a href="/admin/settings">@Ideastrike.Nancy.Localization.Strings.Admin_Settings</a></li>
    <li class="active"><a href="/admin/users">@Ideastrike.Nancy.Localization.Strings.Admin_Users</a></li>
    <li><a href="/admin/moderation">@Ideastrike.Nancy.Localization.Strings.Admin_Moderation</a></li>
</ul>

<ul>
@foreach (var u in Model.Users)
{ 
    <li><a href="/admin/user/@u.Id">@u.UserName</a></li>
}
</ul>