﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}
@functions{
    public string ValueOrNotSet(string value) 
    {
        return string.IsNullOrEmpty(value) ? "[not set]" : value;
    }
}
<h2>
    @Model.UserName @Ideastrike.Nancy.Localization.Strings.Profile 
    <small><a href="/profile/edit">Edit</a></small>
    <span class="gravatar pull-right">
        <img src="@Model.AvatarUrl" alt="gravatar" />
    </span>
</h2>

<hr />

<div class="well">
    <div class="clearfix">
        <span>Email:  @ValueOrNotSet(Model.Email)</span>
        <span>Github: @ValueOrNotSet(Model.Github)</span>


    </div>
</div>

<section>
    <h3>Ideas you submitted:</h3>
    @if (Model.Ideas.Count > 0)
    {
        <ul>
        @foreach (var idea in Model.Ideas)
        {
            <li class="span8 text"><a href="/idea/@idea.Id">@idea.Title</a></li>
        }
        </ul>
    }
    else
    {
        <span>No ideas yet.. Go ahead and create one!</span>
    }
</section>

<section>
    <h3>Features you submitted:</h3>
    @if (Model.Features.Count > 0)
    {
        <ul>
        @foreach (var feature in Model.Features)
        {
            <li class="span8 text"><a href="/idea/@feature.Idea.Id#@feature.Id">@feature.Text</a></li>
        }
        </ul>
    }
    else
    {
        <span>No features yet..</span>
    }
</section>

<section>
    <h3>Voted up for such ideas:</h3>
    @if (Model.Votes.Count > 0)
    {
        <ul>
        @foreach (var vote in Model.Votes)
        {
            <li class="span8 text"><a href="/idea/@vote.Idea.Id">@vote.Idea.Title</a></li>
        }
        </ul>
    }
    else
    {
        <span>No votes yet..</span>
    }
</section>